$width: 200px;

.aside {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: width 1s ease-in-out, padding 1s ease-in-out;
  position: relative;

  &__closed {
    width: 0;
    overflow: hidden;
  }

  &__open {
    width: $width;
  }

  &__icon {
    position: absolute;
    top: 16px;
    right: -6%;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 99;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-top: 20px;

    li {
      display: flex;
      justify-content: center;
      gap: 12px;
      align-items: center;
      list-style: none;
      padding: 10px 44px;

      .link {
        display: flex;
        justify-content: flex-start;
      }
    }

    .active {
      background: rgba(4, 28, 51, 0.3);
      backdrop-filter: blur(10px);
      border-radius: 0 2px 2px 0;
      width: 100%;
      z-index: 20;

      @if $width > 0 {
        &::before {
          position: absolute;
          left: 0;
          content: "";
          width: 5px;
          height: 36px;
          border-radius: 0 4px 4px 0;
          background: #fff;
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    background: rgb(0, 13, 25);

    &__admin {
      padding: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}

.openButton {
  position: absolute;
  top: 100px;
  left: 0px;
  background: #041c33;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 0 8px 8px 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 30;
  animation: pulse 1.5s infinite;
  transition: all 0.3s ease;

  &:hover {
    background: #07335b;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
