.dashboard {
  max-width: 900px;
  width: 100%;
  padding: 32px;
  background: #151b23;
  box-shadow: 0 0 10px 0 #151b23;
  border-radius: 6px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 0 24px;
    border-bottom: 1px solid #a8a295;
  }

  &__footer {
    padding: 24px 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .icon {
      rotate: 180deg;
    }
  }
}
