.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  .wrapperInput {
    position: relative;
    display: flex;
    align-items: center;

    .labelPlaceholder {
      position: absolute;
      top: 0%;
      left: 13px;
      pointer-events: none;

      background: transparent;
      transition: all 0.2s ease;
    }

    .inputText {
      width: 100%;
      padding: 16px 12px;
      border-radius: 4px;
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }
  }
}
