.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  .wrapperInput {
    position: relative;
    display: flex;
    align-items: center;

    &:focus-within .labelPlaceholder,
    input:not(:placeholder-shown) + .labelPlaceholder {
      transform: translate(0px, -120%);
      padding: 0 4px;
    }

    .labelPlaceholder {
      position: absolute;
      top: 43%;
      left: 13px;
      transform: translateY(-50%);
      pointer-events: none;

      background: transparent;
      transition: all 0.2s ease;
    }

    .inputText {
      width: 100%;
      padding: 16px 12px;
      border-radius: 4px;
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }
  }
}
